.wrapper {
  min-height: 100%;
  padding: 0 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
}

.content {
  flex: 1;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    overflow: hidden;
  }
}
